[core]
	editor = nvim
[user]
	name = Yi Hyunjoon
	email = yi.hyunjoon@gmail.com
	signingkey = B4A910A8F0AD3C11614116D0958084F3952EB09E
[init]
	defaultBranch = main
[commit]
	gpgsign = true

[pull]
	ff = only
